.app-container {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #333;
}

.add-task-btn {
  background-color: var();
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #4cae4c;
}
